@app: cr-app;

.@{app} {
  &-con {
    font-size: 14px;
  }
  &-ava {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    background-color: #647BFC;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &-remove {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -14px;
      right: -26px;
      color: #97A0AD;
      display: none;
      // background-color: red;
      text-align: left;
      line-height: 30px;
      transform: rotate(-30deg);
    }
    &:hover &-remove {
      display: block;
    }
    &-remove:hover {
      color: #647BFC;
    }
  }
  &-name {
    display: inline-block;
    margin-left: 5px;
  }
}